{{ partial "header" . }}
{{ partial "nav" . }}
<main>
  <div class="container col-xxl-8 px-4 py-5">
    <article class="article">
      <!-- supports emoji -->
      <h1 class="title">{{ .Title | emojify }}{{ if .Draft }} ::Draft{{ end }}</h1>
      <div class="article-meta" aria-label="article-tags">
        {{ if .Params.tags }}
        {{ partial "tags" .Params.tags }}
        {{ end }}
      </div>

      <!-- <aside>
        {{ .TableOfContents }}
      </aside> -->

      <section aria-label="main">
        {{ .Content }}
      </section>
    </article>
  </div>
</main>
{{ partial "footer" . }}
