website/themes/redispwned/static/css/*      linguist-vendored
website/themes/redispwned/static/images/*   linguist-vendored
website/themes/redispwned/static/webfonts/* linguist-vendored
website/themes/redispwned/sass/vendor/*     linguist-vendored
