{{ partial "header" . }}

<body class="d-flex flex-column h-100"></body>

{{ partial "nav" . }}

<main>
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/images/redis.svg" alt="redis logo" width="150" height="">
    <p class="display-5">Is My Redis Exposed To The Internet?</p>
</div>
<div class="container">
    <form class="d-flex">
        <input class="form-control form-control-lg me-2" type="search" placeholder="IP Address (ex. 127.0.0.1) or Domain Name (ex. example.com)" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
</div>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
          <div class="card border-light mb-3">
            <img src="images/shodan-redis-world-map.png" class="car-img-top" alt="exposed Redis servers world map" loading="lazy">
              <div class="card-footer">
                <small class="text-muted"><strong>source shodan.io</strong> 2021-04-24</small>
              </div>
          </div>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Redis servers are exposed all over the world</h1>
        <h4>censys.io reported <strong>90,905</strong> exposed Redis servers</h4>
        <h4>shodan.io reported <strong>16,374</strong> exposed Redis servers</h4>
      </div>
    </div>
  </div>
</main>

{{ partial "footer" . }}
</body>

</html>
