{{ partial "header" . }}

{{ partial "nav" . }}

<main>
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/images/redis.svg" alt="redis logo" width="150" height="">
    <p class="display-5">Is My Redis Exposed To The Internet?</p>
  </div>
  <div class="container">
      <form class="d-flex" action="" type="POST" id="redis-search">
          <input class="form-control form-control-lg me-2" type="search" id="redis-addr" name="redis-addr" placeholder="Redis Address (ex. 127.0.0.1:6379)" aria-label="Search">
          <input type="hidden" id="_csrf" name="_csrf" />
          <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
  </div>

  <div id="redis-report" class="container col-xxl-8 px-4 py-5 hide">
    <div id="redis-report-running" class="fa-3x text-center hide">
      <i class="fas fa-spinner fa-spin"></i>
    </div>
    <div id="redis-report-done" class="callout callout-info hide" role="callout">
      <h4 class="alert-heading">Redis Server Report</h4>
      <table class="table">
        <tr>
          <td>City</td>
          <td id="redis-report-city">-</td>
        </tr>
        <tr>
          <td>Country</td>
          <td id="redis-report-country">-</td>
        </tr>
        <tr>
          <td>PING</td>
          <td id="redis-report-ping"></td>
        </tr>
        <tr>
          <td>INFO</td>
          <td id="redis-report-info"></td>
        </tr>
      </table>
    </div>
    <div id="redis-report-error" class="alert alert-warning hide" role="alert">
      Redis Report Timed Out!
    </div>
</div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
          <div class="card border-light mb-3">
            <img src="images/shodan-redis-world-map.png" class="car-img-top" alt="exposed Redis servers world map" loading="lazy">
              <div class="card-footer">
                <small class="text-muted"><strong>source shodan.io</strong> 2021-04-24</small>
              </div>
          </div>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Redis servers are exposed all over the world</h1>
        <h4>censys.io reported <strong>90,905</strong> exposed Redis servers</h4>
        <h4>shodan.io reported <strong>16,374</strong> exposed Redis servers</h4>
      </div>
    </div>
  </div>

  <div class="container col-xxl-8 px-4 py-5">
    <p class="display-5">These Stats Are Powered By Redis!</p>
    {{ partial "charts" . }}
  </div>
</main>

<script src="js/search.js"></script>

{{ partial "footer" . }}
