<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
          <span>
            Have I Been Redised?
          </span>
          <a class="link-dark hibr-link" href="/policy"><i class="fas fa-file-contract"></i>  Data Retention Policy</a>
          <span> | </span>
          <a class="link-dark hibr-link" href="https://github.com/mikeblum/redispwned"><i class="fab fa-github"></i>  Contribute</a>
  </div>
</footer>

<!-- Javascript -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  // === include 'setup' then 'config' above ===
  const labels = [
      'January',
      'February',
      'March',
      'April',
      'May',
      'June',
  ];
  const data = {
      labels: labels,
      datasets: [{
          label: 'My First dataset',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: [0, 10, 5, 2, 20, 30, 45],
      }]
  };
  const config = {
      type: 'bar',
      data,
      options: {}
  };
  var myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

</body>

</html>
