<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
          <span>
            Have I Been Redised?
          </span>
          <a class="link-dark hibr-link" href="/policy"><i class="fas fa-file-contract"></i>  Data Retention Policy</a>
          <span> | </span>
          <a class="link-dark hibr-link" href="https://github.com/mikeblum/redispwned"><i class="fab fa-github"></i>  Contribute</a>
  </div>
</footer>

<!-- Javascript -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="js/charts.js"></script>


</body>

</html>
