<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
          <span>
            Have I Been Redised?
          </span>
          <a class="link-dark hibr-link" href="/policy"><i class="fas fa-file-contract"></i>  Data Retention Policy</a>
          <span> | </span>
          <a class="link-dark hibr-link" href="https://github.com/mikeblum/redispwned"><i class="fab fa-github"></i>  Contribute</a>
  </div>
</footer>

<!-- Javascript -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    var request = new XMLHttpRequest();
  request.open('GET', 'http://localhost:8080/v1/servers-by-country', true);

  request.onload = function() {
    if (this.status >= 200 && this.status < 400) {
      var jsonData = JSON.parse(this.response);
      const data = {
          labels: jsonData.labels,
          datasets: [{
              label: 'Exposed Redis Servers By Country',
              // Redis Labs red
              backgroundColor: '#cd5d57',
              borderColor: 'rgb(255, 99, 132)',
              data: jsonData.data,
          }]
      };
      const config = {
          type: 'bar',
          data,
          // horizontal-bar-chart
          options: {
            indexAxis: 'y',
          }
      };
      var myChart = new Chart(
        document.getElementById('servers-by-country'),
        config
      );
    } else {
      console.log("Failed to render report")
    }
  };

  request.onerror = function() {
    console.log("Failed to fetch report")
  };

  request.send();
  });
</script>

</body>

</html>
