.article-meta {
    margin-bottom: 1.25rem;
}

.hibr-link {
    text-decoration: none;
}

blockquote {
    margin-bottom: 1rem;
    font-size: 1.25rem; }
    blockquote > :last-child {
      margin-bottom: 0;
}

a {
    color: $gray-900;
    &:hover {
        color: $secondary
    }
}

.show {
    transition: opacity 400ms;
    display: block;
}

.hide {
    opacity: 0;
    display: none;
}
